<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'ToDo', lists_path,
                            class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <% @lists.each do |list| %>
          <li role="presentation">
            <%= link_to list.name, list_path(list) %>
          </li>
        <% end %>
        <li>
          <%= link_to "All Tasks", tasks_path %>
        </li>
      </ul>
    </div>
    <%= yield %>
  </div>
</body>
</html>
